{% extends "layout.html" %}
{% block content %}
<section class="projects">
    <h2>My Projects</h2>
    <ul>
        <li>
            <strong>ML-based Human Heart Monitoring System</strong><br>
            <img src="{{ url_for('static', filename='images/heart_img3.webp') }}" alt="heart health system" class="categories-grid">
            <br>

            Tech: Python, Flask, ML
            <br>
            ML based Human Heart monitoring system which uses data to predict wheather a person is suffering from Heart disease or not
            <br>

            <a href="https://github.com/studentajaykumar-2004/ML-based-Human-Heart-Monitoring-System">GitHub</a>
        </li>
        <li>
            <strong>forniture store website
            </strong><br>
            <img src="{{ url_for('static', filename='images/furniturestore.jpg') }}" alt="heart health system" class="categories-grid">
            <br>
            Tech: Flask, SQLite <br>
            <a href="https://github.com/studentajaykumar-2004/Furniture-Website">GitHub</a>
            <br>
            <a href="https://kolaajaykumar.pythonanywhere.com">Live</a>
        </li>
    </ul>
</section>
{% endblock content%}
